body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
}

.container {
  margin-top: 50px;
}

.game-title {
  color: #007bff;
  font-size: 36px;
  text-align: center;
  text-transform: uppercase;
  border-bottom: 2px solid #007bff;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

.game-description {
  font-size: 18px;
  color: #555;
  text-align: center;
}

.rules {
  margin-top: 20px;
}

.rules h3 {
  color: #007bff;
  font-size: 24px;
  text-transform: uppercase;
}

.rules ul {
  list-style-type: none;
}

.rules ul li {
  margin-bottom: 10px;
  color: #555;
  font-size: 16px;
}

.index1,
.index2,
.index3 {
  padding: 20px;
}

#score,
#mistakes,
#taskDuration,
#livesLost {
  font-weight: bold;
  font-size: 18px;
  margin-top: 20px;
}

.btn-primary {
  margin-top: 20px;
}